{% load bootstrap4 %}

<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1,
    shrink-to-fit=no">
  <title>study--notes</title>

  {% bootstrap_css %}
  {% bootstrap_javascript jquery='full' %}

</head>

<body>
  <nav class="navbar navbar-expand-md navbar-light bg-light mb-4 border">
    
    {% if user.is_authenticated %}
      <h1 class="navbar-brand">study--notes</h1>
    {% else %}
      <a class="navbar-brand" href="{% url 'learning_logs:index'%}">study--notes</a>
    {% endif %}
    <button class="navbar-toggler" type="button" data-toggle="collapse"
      data-target="#navbarCollapse" aria-controls="navbarCollapse"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>    
    </button>    
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          {% if user.is_authenticated %}
            <a class="nav-link" href="{% url 'learning_logs:index' %}"
                >Home</a>
            <a class="nav-link" href="{% url 'learning_logs:about' %}"
                >Help</a>                                    
            <a class="nav-link" href="{% url 'users:logout' %}"
                >Log out</a>
          {% else %}
            <a class="nav-link" href="{% url 'users:login' %}"
                >Log in</a>
            <a class="nav-link" href="{% url 'learning_logs:about' %}"
                >About</a>
          {% endif %}
        </li>   
      </ul>
    </div>

  </nav>

  <main role="main" class="container">
    <div class="pb-2 mb-2 border-bottom">
      {% block page_header %}
        <h3>Your contents:</h3>
      {% endblock page_header %}
    </div>
    <div>
      {% block content %}
          <ul>
            {% for entries in contents %}
              <li>
                {% for entry in entries %}
                  <div class="card mb-3">
                    <h5>{{ entry.topic }}:</h5>
                    <h6 class="card-header">
                      {{ entry.date_added | date:'M d, Y, D h:i:s A' }} 
                    </h6>
                    <div class="card-body">
                      {{ entry.text | linebreaks }}
                    </div>
                  </div>
                {% empty %}
                  <h8>No content has been added in one of the topic(s).</h8>
                  <small><a href="{% url 'learning_logs:topics' %}">Check topic</a></small>
                {% endfor %}</li>
            {% empty %}
              <h4><p>Nothing has been added yet.</p></h4>
              <p><a href="{% url 'learning_logs:new_topic' %}">Add topic</a></p>            
            {% endfor %}</ul>
      {% endblock content %}
    </div> 
  </main>

</body>

</html>
